body {
    font-family: Arial, sans-serif;
    background-color: #e9f1f6;
    color: #333;
    margin: 0;
}

header {
    background-color: #3498db;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff;
    margin: 0;
}
.error {
    color: #c0392b;
    font-size: 16px;
    margin-top: 10px;
}


nav {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 70px;
}

section#content {
    margin-top: 30px;
}

#loginForm {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

form label {
    color: #333;
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    color: #333;
}

form input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
}
